div.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  cursor: default;
  height: 100px;
  border-bottom: 1px solid #121212;
}
.container .logo {
  color: #fff;
  text-transform: uppercase;
}
.container .logo h1 span {
  color: aquamarine;
}
