div.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  cursor: default;
  height: 100px;
}
.container .logo {
  color: #fff;
  text-transform: uppercase;
}
.container .logo h1 span {
  color: aquamarine;
}
.container nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}
.container nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}
.container nav ul li a:hover {
  background-color: aquamarine;
  color: black;
  border-radius: 10px;
  padding: 10px;
}
