<div class="container">
  <header>
    <app-header-menu></app-header-menu>
  </header>
  <section class="ad__movies">
    <app-ad-movies></app-ad-movies>
  </section>

  <section class="container-divider">
    <mat-icon
      aria-hidden="false"
      aria-label="Search icon"
      fontIcon="local_fire_department"
      style="color: #f0be4d"
    ></mat-icon>
    <span>Treding</span>
    <div class="divider"></div>
    <a href="#">See more</a>
  </section>

  <main>
    <app-container-movies></app-container-movies>
  </main>
</div>
